/* Botón hamburguesa */
.navbar-toggler {
  position: fixed;
  top: 10px;
  z-index: 1100;
  color: rgb(255, 191, 0);
  background-color: transparent;
  border: none;
  outline: none !important;  /* Añadido para quitar el outline */
  box-shadow: none !important;  /* Añadido para quitar la sombra al hacer focus */
}

.hamburger-text {
  color: #ffc107;  
  border: none !important;  
  outline: none !important;
}

.hamburger-text:focus {
  outline: none !important;  
  border: none !important;    
}


.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar {
  border: none !important;  
  box-shadow: none !important;  
}

.navbar-toggler-icon {
  display: none;
}

.navbar-brand {
  color: #000000;
      margin-left: 10px;
}

/* Menú desplegable */
#navbarNav {
  text-align: left;
  background-color: #000000;
  padding: 50px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease-in-out;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 100px;
}

#navbarNav.show {
  transform: scaleY(1);
}

/* Efecto de onda */
@keyframes waveEffect {
  0% {
      transform: scaleY(0.2);
  }
  50% {
      transform: scaleY(1.1);
  }
  100% {
      transform: scaleY(1);
  }
}

#navbarNav.show {
  animation: waveEffect 1.0s ease-in-out;
}

/* Estilo de enlaces en el menú */
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem !important;
  color: #ffffff !important;
  margin-bottom: 20px;
  transition: color 0.3s ease;
  text-align: left;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffc107 !important;
}


/* Contenedor principal */
.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mt-5 {
  margin-top: 15rem !important;
  margin-bottom: 15rem !important;

}



/* BOTON */

.text-center {
  text-align: left !important;
  color: #ffc107 !important;
}

.btn-warning {
  --bs-btn-bg: #f8f9fa;
}

/* Tipografía principal */
.display-1 {
  font-size: 5rem;
  line-height: 1.2;
  color: #ffc107;
  font-family: 'Permanent Marker', cursive;
}

.display-4 {
  font-size: 3.5rem;
  line-height: 1.3;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

/* Estilos para el párrafo */
.lead {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #ffffff;
}

/* Contenido principal */
h2 {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-top: 20px;
  justify-content: left;
}

/* Navbar container */
.bg-light {
  background-color: rgb(255, 255, 255) !important;
}


/* FOOTER  */

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .row {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .col-12 {
  display: flex;
  justify-content: center;
}

footer .d-flex {
  display: flex;
  justify-content: center;
}

/* Línea amarilla antes del logo */
.yellow-line {
  height: 4px; 
  background-color: #ffd700; 
  width: 100%; 
  margin: 0 auto; 
}

/* Línea amarilla después del contenido */
.yellow-line.mt-4 {
  height: 4px;  
  background-color: #ffd700; 
  width: 100%;  
  margin: 0 auto;
}

.footer-link {
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-link:hover {
  font-weight: bold;
  font-size: 1.1em;
  color: #ffd700;
}

footer .yellow-line.mt-4 {
  margin-bottom: 0 !important; 
}


footer .text-center.mt-5 {
  margin-top: 0 !important; 
  padding-top: 0 !important; 
}


footer .text-center span {
  margin-top: -5px !important; 
}

/* Efecto hover para el botón UNIRME */
button.btn.text-warning {
  transition: transform 0.3s ease-in-out; 
}

button.btn.text-warning:hover {
  transform: scale(1.1); 
}

/* Efecto hover para el botón GUARDAR */
button.btn.btn-dark.text-warning {
  transition: transform 0.3s ease-in-out; 
}

button.btn.btn-dark.text-warning:hover {
  transform: scale(1.1); 
}
/* VIDEO */


.video-wrapper {
  margin: 50px; 
  height: 500px; 
  position: relative;
}

.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.video-container video {
  position: absolute;
  top: -10%; 
  left: 0;
  width: 100%;
  height: 120%; 
  object-fit: cover; 
}


.header-content {
  z-index: 2;
  text-align: center;
}

/* TIRA ILUSTRACIONES */

.illustration-row {
  height: 10px;
  padding: 0;
  margin: 0;
}

.illustration-row img {
  height: 100%;
  object-fit: contain;
}

.illustration-row::-webkit-scrollbar {
  display: none;
}



/* GALERIA */

img {
  border-radius: 5px; 

}

.image-container {
  position: relative;
  display: block;
  width: 100%;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 18px;
  padding: 20px;
  margin: 0;
  text-align: center;
}