/* NAVBAR  */
/* Navbar toggler custom style */
.navbar-toggler {
    border: none;
    position: relative;
}

.navbar-toggler-icon::after {
    content: 'X';
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    /* color: #000; */
    display: none;
}
.navbar-toggler:focus {
    outline: none; /* Elimina el borde de enfoque */
    
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
    display: none;
}

/* FOOTER  */

/* Línea amarilla antes del logo */
.yellow-line {
  height: 4px;  /* Aumentamos el grosor de la línea */
  background-color: #ffd700; /* Color amarillo */
  width: 100%;  /* La línea se extiende por todo el ancho */
  margin: 0 auto; /* Centrado en el contenedor */
}

/* Línea amarilla después del contenido */
.yellow-line.mt-4 {
  height: 4px;  /* Aumentamos el grosor de la línea */
  background-color: #ffd700; /* Color amarillo */
  width: 100%;  /* La línea se extiende por todo el ancho */
  margin: 0 auto; /* Centrado en el contenedor */
}

.footer-link {
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-link:hover {
  font-weight: bold;
  font-size: 1.1em;
  color: #ffd700;
}