/* General styles */
body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Navbar toggler custom style */
.navbar-toggler {
    border: none;
    position: relative;
}

.navbar-toggler-icon::after {
    content: 'X';
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    /* color: #000; */
    display: none;
}
.navbar-toggler:focus {
    outline: none; /* Elimina el borde de enfoque */
    
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
    display: none;
}

/* .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    display: block;
} */


/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenido principal */
.main-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: center;
}

/* Navbar styles */


.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-container {
    text-align: center;
    flex-grow: 1;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    text-decoration: none;
}

/* Vertical Menu */
.menu-container {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; /* Aplica Montserrat al menú */
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

/* Colores personalizados para cada elemento del menú */
.menu-work {
    background-color: black;
}

.menu-about {
    background-color: #ff5500;
}

.menu-trends {
    background-color: #ff7700;
}

.menu-careers {
    background-color: #ff4400;
}

.menu-contact {
    background-color: #ffd700;
}

/* Hover Effects */
.menu-item:hover {
    opacity: 0.8;
}

/* style.css */
h1 span {
    color: #ffc107; /* Amarillo brillante para Fresh Frames */
}

p.lead {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #000000;
}

/* Cambiar color de los íconos del botón de navegación del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000; /* Negro sólido para los íconos */
    border-radius: 50%; /* Hace los íconos circulares */
    padding: 10px; /* Añade espacio alrededor del ícono */
    opacity: 1; /* Asegura que el ícono sea completamente visible */
}


/* Mantener color al pasar el mouse */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #ffc107; /* Se mantiene negro al pasar el mouse */
}


/* CARROUSEL */
.modal-header {
    border-bottom: 0;
}

.modal-body{
    padding: 0;
}

/* Bordes redondeados para las imágenes del carrusel */
.border-image {
    border-radius: 15px; /* Redondea las esquinas de las imágenes */
}
.border {
    border: none !important;
}
/* Ajustar márgenes */
.carousel-container {
    margin: 0 auto; /* Centrar el carrusel */
    max-width: 90%; /* Limitar el ancho máximo */
}

/* Eliminar bordes alrededor de las imágenes */
.carousel-inner img {
    border: none; /* Elimina cualquier borde */
    box-shadow: none; /* Elimina cualquier sombra */
    outline: none; /* Asegura que no haya contornos visibles */
}

