/* General styles */
body {
    background-color: #fbf5ed;
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.text-white {
    --bs-text-opacity: 1;
    color: #000 !important;
}
/* Contenedor principal del fondo */
.bg-image-container {
    position: relative;
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    overflow: hidden;
}

.bg-light {
    background-color: rgba(0, 0, 0, 0) !important;
}



/* Imagen de fondo fija */
.bg-image {
    position:absolute;
    opacity: 60%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('IMG/Añadir\ un\ título.png'); /* Ruta correcta a tu imagen */
    background-size: cover; /* Asegura que cubra todo el espacio */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    z-index: -1; /* Envía el fondo detrás del contenido */
}

/* Contenido encima del fondo */
.content {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima del fondo */
    padding: 150px 0; /* Ajusta el espacio si es necesario */
}


    .text-warning {
        --bs-text-opacity: 1;
        color: #000000 !important;
    }
/* Botón hamburguesa */
.navbar-toggler {
    position: fixed;
    top: 10px;
    z-index: 1100;
    color: rgb(255, 191, 0);
    background-color: transparent;
    border: none;
    outline: none !important;  /* Añadido para quitar el outline */
    box-shadow: none !important;  /* Añadido para quitar la sombra al hacer focus */
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    display: none;
}

.navbar-brand {
    color: #000000;
        margin-left: 10px;
}

/* Menú desplegable */
#navbarNav {
    text-align: left;
    background-color: #000000;
    padding: 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease-in-out;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 100px;
}

#navbarNav.show {
    transform: scaleY(1);
}

/* Efecto de onda */
@keyframes waveEffect {
    0% {
        transform: scaleY(0.2);
    }
    50% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

#navbarNav.show {
    animation: waveEffect 1.0s ease-in-out;
}

/* Estilo de enlaces en el menú */
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem !important;
    color: #ffffff !important;
    margin-bottom: 20px;
    transition: color 0.3s ease;
    text-align: left;
    font-weight: bold;
}

.nav-link:hover {
    color: #ffc107 !important;
}

/* Contenedor principal */
.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.mt-5 {
    margin-top: 15rem !important;
    margin-bottom: 15rem !important;

}


/* Elimina cualquier margen o padding en el contenedor de la imagen */
.container-fluid {
    margin: 0;
    padding: 0;
}

/* Asegura que la imagen ocupe el 100% del ancho de la pantalla */
.container-fluid img {
    width: 100%; /* Ocupa todo el ancho */
    height: auto; /* Mantiene las proporciones */
    display: block; /* Elimina cualquier espacio debajo de la imagen */
}

/* Efecto AOS (opcional: solo si quieres personalizar más) */
[data-aos="fade-up"] {
    transition: transform 1s ease, opacity 1s ease;
}

/* Ajusta los bordes redondeados si se necesitan */
.img-fluid {
    border-radius: 0; /* Sin bordes redondeados */
}


/* Estilo base para los enlaces */
.texto-colaboracion {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente si es necesario */
    color: #000; /* Color base del texto */
    transition: color 0.3s ease; /* Suaviza la transición del color */
}

/* Efecto hover en amarillo */
.texto-colaboracion:hover {
    color: #ffc107 !important; /* Cambia el color a amarillo */
}





/* BOTON */

.text-center {
    text-align: left !important;
    color: #ffc107 !important;
}

.btn-warning {
    --bs-btn-bg: #f8f9fa;
}

/* Tipografía principal */
.display-1 {
    font-size: 5rem;
    line-height: 1.2;
    color: #ffc107;
    font-family: 'Permanent Marker', cursive;
}

.display-4 {
    font-size: 3.5rem;
    line-height: 1.3;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para el párrafo */
.lead {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ffffff;
}

/* Contenido principal */
h2 {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 20px;
    justify-content: left;
}

/* Navbar container */

/* Estilo inicial de las imágenes en blanco y negro */
.carousel-item .overlay-container img {
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

/* Efecto al pasar el cursor sobre las imágenes */
.carousel-item .overlay-container:hover img {
    filter: grayscale(0%); /* Vuelve a color */
    transform: scale(1.1); /* Aumenta la escala al 110% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Añade sombra */
}

.custom-btn {
    border: 2px solid #000; /* Borde negro */
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn:hover {
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Texto negro */
}


.border {
     border: none !important; 
}

/* Estilo para el contenedor */
.carousel-item .overlay-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px; /* Bordes redondeados */
}


.img-fluid {
    border-radius: 15px;
}

/* Estilo para el texto y fondo que aparecerán en hover */
.carousel-item .overlay-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro con opacidad */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Ocultar por defecto */
    transition: opacity 0.3s ease-in-out; /* Transición suave */
}

/* Mostrar el texto de la superposición al pasar el cursor */
.carousel-item .overlay-container:hover .overlay {
    opacity: 1; /* Muestra el overlay */
}


/* Imagen de ancho completo en la parte superior */




/* 3D Section Styles */
/* 3D Section Styles */
.three-d-section {
    margin-top: 50px;
}

model-viewer {
    border: none;
    background-color: none;
}





.header-1 {
    background-color: #e8d5d5;
}




/* .image-container-left img {
    max-width: 70%; /* Ajustar tamaño de la imagen */
    /* margin-right: 0; /* Imagen pegada al lado derecho */
    /* margin-left: auto; /* Elimina margen izquierdo */
    /* display: block;
} */


/* .image-container-right img {

 max-width: 70%; /* Ajustar tamaño de la imagen */
    /* margin-right: auto; /* Imagen pegada al lado derecho */
    /* margin-left: auto; /* Elimina margen izquierdo */
    /* display: block; */ 

@media (max-width:375px){
    span {
        font-size: 1em;
    }
    
}


@media (max-width: 414px) {

    .carousel-inner .carousel-item .row .col-md-4 {
        display: none;
    }
    .carousel-inner .carousel-item.active .col-md-4:first-child {
        display: block;
    
    }
    
    
    }


    /* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    #fw-bold {
        font-size: 1rem; /* Tamaño reducido para pantallas pequeñas */
        line-height: 1.2; /* Ajustar el espacio entre líneas */
    }

    

}

@media (max-width: 576px) {
    .typed-text {
        font-size: 2rem; /* Tamaño aún más pequeño para pantallas muy pequeñas */
        line-height: 1.3;
    }
   
}